body, html{
	height: 100%;
	background-repeat: no-repeat;
	background-color: #9F9E9D;
}

.main{
	margin-top: 70px;
}

h1.title {
	font-size: 50px;
	font-weight: 400;
}

hr{
	width: 10%;
	color: #FFF;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input, input::-webkit-input-placeholder {
	font-size: 11px;
	padding-top: 3px;
}

.main-login{
	background-color: #FFF;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
}

.main-center{
	margin-top: 30px;
	margin:0 auto;
	max-width: 330px;
	padding: 40px 40px;
}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}

#wrapper {
	padding-left: 70px;
	transition: all .4s ease 0s;
	height: 100%;
}

#sidebar-wrapper {
	height: 100%;
	margin-left: -210px;
	left: 70px;
	width: 210px;
	background: #111;
	position: fixed;
	z-index:10000;
	transition: all .4s ease 0s;
}

.sidebar {
	display: block;
	float: left;
	width: 210px;
	list-style: none;
	margin: 0;
	padding: 0;
}

#page-content-wrapper {
	padding-left: 0;
	margin-left: 0;
	width: 100%;
	height: auto;
}

#wrapper.active {
	padding-left: 210px;
}

#wrapper.active #sidebar-wrapper {
	left: 210px;
}

#page-content-wrapper {
	height: 100%;
	width: 100%;
	margin-left: 7px;
}

.page-content {
	height: 100%;
}

#nav_menu {
	list-style-type: none;
}

#nav_menu li a, .sidebar li a {
	color: #777;
	display: block;
	float: left;
	text-decoration: none;
	width: 210px;
	background: #252525;
	border-top: 1px solid #1A1A1A;
	border-bottom: 1px solid #1A1A1A;
	-webkit-transition: background .5s;
	-moz-transition: background .5s;
	-o-transition: background .5s;
	-ms-transition: background .5s;
	transition: background .5s;
}

.sidebar li {
	line-height: 40px;
	text-indent: 20px;
}

.sidebar li a {
	color: white;
	display: block;
	text-decoration: none;
}

.sidebar li a:hover {
	color: #FFF;
	background: rgba(255,255,255,0.2);
	text-decoration: none;
}

.sidebar li a:active,
.sidebar li a:focus {
	text-decoration: none;
}

.sidebar > .nav_label {
	height: 65px;
	line-height: 60px;
	font-size: 18px;
}

.sidebar > .nav_label a {
	color: #999999;
}

.sidebar > .nav_label a:hover {
	color: #FFF;
	background: none;
}

#nav_icon {
	float: right;
	padding-right: 20px;
	padding-top: 10px;
}

.sub_icon {
	float:right;
	padding-right: 20px;
	padding-top: 10px;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}


@media (max-width: 767px) {
	#wrapper {
		padding-left: 70px;
		transition: all .4s ease 0s;
	}
	#sidebar-wrapper {
		left: 70px;
	}
	#wrapper.active {
		padding-left: 210px;
	}
	#wrapper.active #sidebar-wrapper {
		left: 210px;
		width: 210px;
		transition: all .4s ease 0s;
	}
}

.btn.outlined {
	background: none;
	padding: 12px 22px;
}

.btn-primary.outlined {
	border: 2px solid #252525;
	color: #252525;
}

.btn-primary.outlined:hover, .btn-primary.outlined:focus, .btn-primary.outlined:active, .btn-primary.outlined.active, .open > .dropdown-toggle.btn-primary {
	color: #1A1A1A;
	border-color: #1A1A1A;
		box-shadow: none;

}

.btn-primary.outlined:active, .btn-primary.outlined.active {
	border-color: #1A1A1A;
	color: #1A1A1A;
	box-shadow: none;
}

#mainDisplay {
	height: auto;
}

::-webkit-scrollbar { 
    display: none; 
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.myTag-enrollable{
	font-size: 10px;
	font-style: italic;
	border-radius: 2px;
	margin-left : 5px;
	padding: 5px;
	background-color: #2C32D4;
	color: white;
}

.myTag-success{
	font-size: 10px;
	font-style: italic;
	border-radius: 2px;
	margin-left : 5px;
	padding: 5px;
	background-color: #2CD453;
	color: white;

}

.myTag-owned{
	font-size: 10px;
	font-style: italic;
	border-radius: 2px;
	margin-left : 5px;
	padding: 5px;
	background-color: #C5C6EF;

}

.img-responsive {
    margin: 0 auto;
}