{% extends "staff/header.html" %}
{% block content %}
<div class="container-fluid">
	<div id="roleOptions" class="row">
		<div class="col-md-6"><button id="viewStaffBtn" class="btn btn-primary btn-block btn-lg">Manage Staff</button></div>
		<div class="col-md-6"><button id="viewCategoryBtn" class="btn btn-block btn-lg">Manage Categories</button></div>
	</div>
	
	<div id='viewStaff' class="row">
		<h3 align="center">Assign Permission</h3>
		<form id='changeRoleForm' class="form-inline" align="center">
			<div class="col-md-12">
				<div class="form-group">
					<label for="theUsername">Username:</label>
					<input type="text" class="form-control" id="theUsername" placeholder="Enter Username" name="username" value="">
					<label for="theRole">Role:</label>
					<select class="form-control" id="theRole" name="role">
						<option value='admin' selected>Administrator</option>
						<option value='instructor'>Instructor</option>
						<option value='hr'>Human Resource</option>
					</select>
					<input class="btn btn-primary btn-block" type='button' onclick='addRole()' value='Add Role'>
				</div>
			</div>
		</form>

		<div id='staffTable' class="row">
			<div class="col-md-12">
				<h3 align="center">Permission Table</h3>
				<table class="table table-bordered" style="border-color: white">
					<thead>
						<tr>
							<th>Username</th>
							<th>Administrator</th>
							<th>Instructor</th>
							<th>Participant</th>
							<th>Human Resources</th>
						</tr>
					</thead>
					<tbody id="eachStaffPermission">
					</tbody>
				</table>
			</div>
		</div>

	</div>	
</div>
	

<div id='viewCategories' class="row" style="margin-left: 10px; margin-right: 10px">
	<h3 align="center">Manage Category</h3>
	<form id='categoryForm' class="form-inline" align="center">
		<div class="col-md-12">
			<div class="form-group">
				<label for="theUsername">Category Name:</label>
				<input type="text" class="form-control" id="category_name" placeholder="Enter Category Name" name="category_name" value="">
				<input class="btn btn-primary btn-block" type='button' onclick='addCategory()' value='Add Category'>
				<input class="btn btn-primary btn-block" type='button' onclick='removeCategory()' value='Remove Category'>
			</div>
		</div>
	</form>

	<div id='categoryTable' class="row">
		<div class="col-md-12">
			<h3 align="center">Category Table</h3>
			<table class="table table-bordered" style="border-color: white">
				<thead>
					<tr>
						<th>Category Name</th>
					</tr>
				</thead>
				<tbody id="eachCategory">
				</tbody>
			</table>
		</div>
	</div>
</div>

<script type='text/javascript'>
	//initial state
	$('#viewStaff').show();
    $('#viewCategories').hide();
    loadAllStaff();

    //page control logic
    $('#viewStaffBtn').on('click',function(){
    	$('#viewStaffBtn').attr('class', 'btn btn-primary btn-block btn-lg');
    	$('#viewCategoryBtn').attr('class', 'btn btn-block btn-lg');
        $('#viewStaff').show();
        $('#viewCategories').hide();
        loadAllStaff();
    });
    $('#viewCategoryBtn').on('click',function(){
    	$('#viewStaffBtn').attr('class', 'btn btn-block btn-lg');
    	$('#viewCategoryBtn').attr('class', 'btn btn-primary btn-block btn-lg');
        $('#viewStaff').hide();
        $('#viewCategories').show();
        loadAllCategory();
    });


	//load table
	function loadStaffTable() {
		$.ajax({
        	url: 'http://localhost:8000/staff/staffs',
        	type: 'GET',
        	dataType: 'json',
        	success(result,status,xhr) {
		        $( "#eachStaffPermission" ).empty();
            	var data = result.staffs;

            	$.each(data, function(index, value) {
            		$.ajax({
		        	url: 'http://localhost:8000/staff/' +value+ '/staffInfo',
		        	type: 'GET',
		        	async: 'false',
		        	dataType: 'json',
		        	success(result,status,xhr) {
		            	var element = document.createElement('tr');
		            	jQuery('<tr/>', {
		            		id: 'value'+index,
		            	}).appendTo("#eachStaffPermission");
		            	var theSelector = '#value'+index;
		            	$(theSelector).append("<th>"+value+"</th>");
		            	if(result.admin === true) {
		            		$(theSelector).append("<td class=success value="+value+" name='admin'></td>");
		            	}
		            	else {
		            		$(theSelector).append("<td class=danger value="+value+" name='admin' onClick='cell2FormAutofill()' style='text-align:center;font-weight:bold;'>Grant Permission</td>");
		            	}
		            	if(result.instructor === true) {
		            		$(theSelector).append("<td class=success value="+value+" name='instructor'></td>");
		            	}
		            	else {
		            		$(theSelector).append("<td class=danger value="+value+" name='instructor' onClick='cell2FormAutofill()' style='text-align:center;font-weight:bold;'>Grant Permission</td>");
		            	}
		            	if(result.participant === true) {
		            		$(theSelector).append("<td class=success value="+value+" name='participant'></td>");
		            	}
		            	else {
		            		$(theSelector).append("<td class=danger value="+value+" name='participant' onClick='cell2FormAutofill()' style='text-align:center;font-weight:bold;'>Grant Permission</td>");
		            	}
		            	if(result.hr === true) {
		            		$(theSelector).append("<td class=success value="+value+" name='hr'></td>");
		            	}
		            	else {
		            		$(theSelector).append("<td class=danger value="+value+" name='hr' onClick='cell2FormAutofill()' style='text-align:center;font-weight:bold;'>Grant Permission</td>");
		            	}
		            }
    				});
            	});
        	}
    	});
	}

	//load all staff
	function loadAllStaff() {
		loadStaffTable();
	}

	function cell2FormAutofill(event) {

		if(!event) event = window.event;
		var a = event.target;
		var username = event.target.getAttribute('value');
		var role = event.target.getAttribute('name');
		if(role != 'participant'){
			$("#theUsername").val(username);
			$("#theRole").val(role);
		}
	}

	//add a role
	function addRole() {
		var form = document.getElementById('changeRoleForm');
		$.ajax({
			url: 'http://localhost:8000/staff/assign_' + form.role.value,
			type: 'POST',
			data: JSON.stringify({username : form.username.value}),
			dataType: 'json',
			beforeSend(xhr) {
				xhr.setRequestHeader("Content-Type","application/x-www-urlencoded");
			},
			success(result,status,xhr) {
				if (result.hasOwnProperty('failure')){
					alert(result.message);	
				} else {
					loadAllStaff();
				}
			}
		});
	}

	function addCategory() {
		var input = document.getElementById('category_name');
		$.ajax({
			url: 'http://localhost:8000/courses/addCategory',
			type: 'POST',
			data: JSON.stringify({category_name : input.value}),
			dataType: 'json',
			beforeSend(xhr) {
				xhr.setRequestHeader("Content-Type","application/x-www-urlencoded");
			},
			success(result,status,xhr) {
				if (result.hasOwnProperty('failure')){
					alert(result.message);
				} else {
					loadAllCategory();
				}
			}
		});
	}

	function removeCategory() {
		var input = document.getElementById('category_name');
		if (input.value == "Mergers and Acquisitions" || input.value == "Markets" || input.value == "Risk Management" || input.value == "Securities" || input.value == "Financial Modelling" || input.value == "Operations" || input.value == "Information Technology") {
			alert("Remove Failed! Category '" + input.value + "' is a required category");
		} else {
			$.ajax({
				url: 'http://localhost:8000/courses/category/remove',
				type: 'POST',
				data: JSON.stringify({category_name : input.value}),
				dataType: 'json',
				beforeSend(xhr) {
					xhr.setRequestHeader("Content-Type","application/x-www-urlencoded");
				},
				success(result,status,xhr) {
					if (result.hasOwnProperty('failure')){
						alert(result.message);	
					} else {
						loadAllCategory();	
					}
				}
			});
		}
		
	}

	function loadAllCategory() {
		$.ajax({
			url: 'http://localhost:8000/courses/categories',
			type: 'GET',
			dataType: 'json',
			success(result,status,xhr) {
				$('#eachCategory').empty();
				var data = result.all_categories;
				for (c in data) {
					$('#eachCategory').append("<tr><td>"+result.all_categories[c].name+"</td><tr>");
				}
			}
		});

	}

</script>

{% endblock %}