{% extends "staff/header.html" %}
{% block content %}

<div style="text-align: center;"><button id="viewStaffBtn">Manage Staff</button><button id="viewCategoryBtn">Manage Categories</button></div>
<hr>

<div id='viewStaff'>
	<h3>Change Role</h3>
	<form id='changeRoleForm'>
		Username: <input type='text' name='username' value='username'>
		Role: <select name='role' name='role'>
			<option value='admin' selected>Administrator</option>
			<option value='instructor'>Instructor</option>
			<option value='hr'>Human Resource</option>
		</select>
		<input type='button' onclick='addRole()' value='Add Role'>
	</form>
	<hr>
	<h3>All Staff</h3>
	<div id='admins'>
		<b>Administrators</b>
		<div id='administratorList'></div>
	</div>
	<div id='instructors'>
		<b>Instructors</b>
		<div id='instructorList'></div>
	</div>
	<div id='participants'>
		<b>Participants</b>
		<div id='participantList'></div>
	</div>
	<div id='hrs'>
		<b>Human Resources</b>
		<div id='humanResourceList'></div>
	</div>
</div>

<div id='viewCatogories'></div>

<script type='text/javascript'>
	//initial state
	$('#viewStaff').show();
    $('#viewCategories').hide();
    loadAllStaff();

    //page control logic
    $('#viewStaffBtn').on('click',function(){
        $('#viewStaff').show();
        $('#viewCategories').hide();
        loadAllStaff();
    });
    $('#viewCategoryBtn').on('click',function(){
        $('#viewStaff').hide();
        $('#viewCategories').show();
    });

	//load staff function
	function loadStaff(staffRole) {
		$.ajax({
        	url: 'http://localhost:8000/staff/' + staffRole + 's',
        	type: 'GET',
        	dataType: 'json',
        	success(result,status,xhr) {
            	console.log(JSON.stringify(result));
            	var data;
            	switch (staffRole) {
            		case 'administrator':
            			data = result.all_administrators;
            			break;
            		case 'instructor':
            			data = result.all_instructors;
            			break;
            		case 'participant':
            			data = result.all_participants;
            			break;
            		case 'humanResource':
            			data = result.all_humanResources;
            			break;
            	}          
            	$.each(data, function(index, value) {
            		$('#' + staffRole + 'List').append("<p>" + value.username + "</p>");
            	});
        	}
    	});
	}

	//load all staff
	function loadAllStaff() {
		$('#administratorList').empty();
		$('#instructorList').empty();
		$('#participantList').empty();
		$('#humanResourceList').empty();
		loadStaff('administrator');
		loadStaff('instructor');
		loadStaff('participant');
		loadStaff('humanResource');
	}

	//add a role
	function addRole() {
		var form = document.getElementById('changeRoleForm');
		$.ajax({
			url: 'http://localhost:8000/staff/assign_' + form.role.value,
			type: 'POST',
			data: JSON.stringify({username : form.username.value}),
			dataType: 'json',
			beforeSend(xhr) {
				xhr.setRequestHeader("Content-Type","application/x-www-urlencoded");
			},
			success(result,status,xhr) {
				loadAllStaff();
			}
		});
	}

</script>

{% endblock %}