{% extends "staff/header.html" %}
{% block content %}

	<script type="text/javascript">
		if (getCookie("staffId") === "") {
			window.location.href = "loginPage";
		}
	</script>

    <h1 style="text-align: center">AB Credit</h1>
    <h2 style="text-align: center">SDP</h2>
    <hr>

    <div id="permissionButtons" style="text-align: center;"></div>

    <hr>
    
    <div id="mainDisplay"></div>

    <script type="text/javascript">
		staffId = getCookie('staffId');

        updateDisplay("participant");

        // Get permission for instructor
        $.get("http://localhost:8000/staff/"+staffId+"/getStaffUsername",function(data, status){
            $.get("http://localhost:8000/staff/"+data.username+"/staffInfo",function(data, status){
                $("#permissionButtons").append("<button onClick='updateDisplay(\"participant\")'> Participant </button>");
                if (data.instructor == true) {
                    $("#permissionButtons").append("<button onClick='updateDisplay(\"instructor\")'> Instructor </button>");
                }
                if (data.admin == true) {
                    $("#permissionButtons").append("<button onClick='updateDisplay(\"administrator\")'> Administrator </button>");
                }
                if (data.hr == true) {
                    $("#permissionButtons").append("<button onClick='updateDisplay(\"hr\")'> Human Resource </button>");
                }
            });
        });

        $("#permissionButtons").append("<button onClick=\"logout()\"> Log Out</button>");

    	function logout() {
    		document.cookie = "staffId="+";expires=Thu, 01 Jan 1970 00:00:01 GMT;path=/";
    		window.location.href = "loginPage";
    	}
    	function updateDisplay(userMode) {
    		document.getElementById("mainDisplay").innerHTML='<object type="text/html" data="'+userMode+'" width="100%" height="600px"></object>';
    	}
    </script>

{% endblock %}