{% extends "staff/header.html" %}
{% block content %}

<div id="viewCourses">
    <h3>View Courses</h3>
    <div id="courseList"></div>
    <hr>
    <h3>Add A Course</h3>
    <form id="addCourseForm">
        Course Code: <input type="text" name="courseCode" value="Course Code"> <br>
        Category: <input type="text" name="category" value="Course Category"> <br>
        Published: <input type="text" name="isPublished" value="False"> <br>
        Title: <input type="text" name="title" value="Course Title"> <br>
        Description: <input type="text" name="description" value="Course Description"> <br>
        <input type="button" value='Add Course' onclick="addCourse()">
    </form>
</div>

<div id="viewModules">
    <h3><a href='#'>View Courses</a> / Modules</h3>
    <div id='moduleList'></div>
    <hr>
    <h3>Add Module</h3>
    <form id="addModuleForm">
        Course Code: <input type="text" name="courseCode" value="Course Code"> <br>
        Module Title: <input type="text" name="moduleTitle" value="Module Title"> <br>
        Sequence Number: <input type="text" name="sequenceNumber" value="Module Sequence Number"> <br>
    </form>
    <button onclick="addModule()">Add Module</button>
</div>


<div id="viewComponents">
    <h3>View Components</h3>
    <div id='componentList'></div>
    <hr>
    <h3>Add Component</h3>
    <form id="addComponentForm">
        Course Code: <input type="text" name="courseCode" value="Course Code"> <br>
        Module Title: <input type="text" name="moduleTitle" value="Module Title"> <br>
        Order: <input type="text" name="order" value="Component Order"> <br>
        Content Type: <input type="text" name="contentType" value="Content Type"> <br>
        Content Title: <input type="text" name="contentTitle" value="Content Titlee"> <br>
        Content: <input type="text" name="content" value="Content"> <br>
    </form>
    <button onclick="addComponent()">Add Component</button>
</div>

<script type="text/javascript">
    //initial state
    $('#viewModules').hide();
    $('#viewComponents').hide();
    $('#viewCourses').show();

    //page control logic
    $("#viewCourses").on('click','a',function(){
        $('#viewCourses').hide();
        $('#viewModules').show();
    });

    $('#viewModules').on('click','h3 a', function() {
        $('#viewModules').hide();
        $('#viewCourses').show();
    });

    //load all courses created by this instructor
    $.ajax({
        url: 'http://localhost:8000/courses/',
        type: 'GET',
        dataType: 'json',
        success(result,status,xhr) {              
            $.each(result.all_courses, function(index, value) {
                if (value.instructor == getCookie('staffId')) {
                    $("#courseList").append("<p><a href='#' rel='" + value.courseCode + "'>" + value.courseCode + ": " + value.title + "</a><br> Category: " + value.category + "</p>");
                    if(!value.isPublished)
                        $("#courseList").append("<button type='button'>Publish</button>");
                }                 
            });
        }
    });

    //add a course
    function addCourse() {
        var form = document.getElementById('addCourseForm');
        $.ajax({
            url: 'http://localhost:8000/courses/addCourse',
            type: 'POST',
            data: JSON.stringify({
                instructor: getCookie('staffId'),
                courseCode: form.courseCode.value,
                category: form.category.value,
                isPublished: form.isPublished.value,
                title: form.title.value,
                description: form.description.value
            }),
            dataType: 'json',
            beforeSend(xhr) {
                xhr.setRequestHeader("Content-Type","application/x-www-urlencoded");
            },
            success(result,status,xhr) {
                if (result.hasOwnProperty('failure'))
                    alert(result.message);
                else {
                    $("#courseList").append("<p><a href='#' rel='" + result.courseCode + "'>" + result.courseCode + ": " + result.title + "</a><br> Category: " + result.category + "</p>");
                    if(!result.isPublished)
                        $("#courseList").append("<button type='button'>Publish</button>");   
                }
            }
        });
    }

    function addModule() {
        $.ajax({
            url: "http://localhost:8000/courses/" + form.courseCode.value + "/addModule" + "?moduleTitle=" + form.moduleTitle.value + "&sequenceNumber=" + form.sequenceNumber.value,
            type: 'POST',
            data: JSON.stringify({

            }),
            dataType: 'json',
            beforeSend(xhr) {
                xhr.setRequestHeader("Content-Type","application/x-www-urlencoded");
            },
            success(result,status,xhr) {
                if (result.hasOwnProperty('failure'))
                    alert(result.message);
                else {

                }    
            }
        });
        /*var form = document.getElementById('addModuleForm');
        var endpoint = "http://localhost:8000/courses/" + form.courseCode.value + "/addModule" + "?moduleTitle=" + form.moduleTitle.value + "&sequenceNumber=" + form.sequenceNumber.value;

        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function () {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                console.log(xmlHttp.responseText);
                // Edit viewModules div with xmlHttp.responseText (in json)
            }
        }
        xmlHttp.open("GET", endpoint, true);
        xmlHttp.send();*/
    }

    function addComponent() {
        $.ajax({
            url: "http://localhost:8000/courses/" + form.courseCode.value + "modules/" + form.moduleTitle.value + "/addComponent" + "?order=" + form.order.value + "&contentType=" + form.contentType.value + "&contentTitle=" + form.contentTitle.value + "&content=" + form.content.value,
            type: 'POST',
            data: JSON.stringify({

            }),
            dataType: 'json',
            beforeSend(xhr) {
                xhr.setRequestHeader("Content-Type","application/x-www-urlencoded");
            },
            success(result,status,xhr) {
                if (result.hasOwnProperty('failure'))
                    alert(result.message);
                else {

                }   
                
            }
        });
        /*var form = document.getElementById('addComponentForm');
        var endpoint = "http://localhost:8000/courses/" + form.courseCode.value + "modules/" + form.moduleTitle.value + "/addComponent" + "?order=" + form.order.value + "&contentType=" + form.contentType.value + "&contentTitle=" + form.contentTitle.value + "&content=" + form.content.value;

        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function () {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                console.log(xmlHttp.responseText);
                var data = JSON.parse(xmlHttp.responseText);
            }
        }
        xmlHttp.open("GET", endpoint, true);
        xmlHttp.send();*/
    }
</script>

<hr>
<p><b>Publish Course - Not suppoted yet</b></p>

{% endblock %}