{% extends "staff/header.html" %}
{% block content %}

<div style="text-align: center;"><button id="viewCoursesBtn">All Courses</button><button id="viewEnrollmentBtn">My Enrollment</button></div>
<hr>

<div id="viewCourses">
    <h3>All Courses</h3>
    <div id="courseList">
        Filter by: <select name='category'><option value='' selected>All Categories</option></select>
        <div id='courseFilteredList'></div>
    </div>
    <div id="courseDetails"></div>
</div>

<div id="viewEnrollment">
    <h3>My Enrollment</h3>
    <div id="enrollmentList"></div>
    <div id="enrollmentDetails"></div>
</div>

<script type="text/javascript">
    //initial state
    loadEnrollment();    
    $('#viewCourses').hide();
    $('#viewEnrollment').show();

    //page control logic
    $('#viewCoursesBtn').on('click',function(){
        $('#viewCourses').show();
        $('#viewEnrollment').hide();
        loadCourses();
    });
    $('#viewEnrollmentBtn').on('click',function(){
        $('#viewCourses').hide();
        $('#viewEnrollment').show();
        loadEnrollment();
    });

    //load categories for course creation form
    $.ajax({
        url: 'http://localhost:8000/courses/categories',
        type: 'GET',
        dataType: 'json',
        success(result,status,xhr) {    
            $.each(result.all_categories, function(index, value) {
                $('select[name=category]').append("<option value='" + value.name + "'>" + value.name + "</option>");          
            });
        }
    });

    //filtering by category logic
     $('#courseList').on('change', 'select', function() {
        loadCourses();
     });

    //load all courses
    function loadCourses() {
        $.ajax({
            url: 'http://localhost:8000/courses/',
            type: 'GET',
            dataType: 'json',
            success(result,status,xhr) {
                $('#courseDetails').hide();
                $('#courseFilteredList').empty();
                $('#courseList').show();                
                $.each(result.all_courses, function(index, value) {
                    if(value.isPublished)
                        if ($('select[name=category]').val() == '')
                            $("#courseFilteredList").append("<p><a href='#' rel='" + value.courseCode + "'>" + value.courseCode + ": " + value.title + "</a><br> Category: " + value.category_name + "</p>");
                        else if ($('select[name=category]').val() == value.category_name) 
                            $("#courseFilteredList").append("<p><a href='#' rel='" + value.courseCode + "'>" + value.courseCode + ": " + value.title + "</a><br> Category: " + value.category_name + "</p>");                   
                });
            }
        });
    }

    //view course details
    $('#courseList').on('click', 'a', function() {
        $.ajax({
            url: 'http://localhost:8000/courses/' + $(this).attr('rel'),
            type: 'GET',
            dataType: 'json',
            success(result,status,xhr) {
                $("#courseList").hide();
                $("#courseDetails").empty();
                $("#courseDetails").show();
                $("#courseDetails").append("<p><b>" + result.courseCode + ": " + result.title + "</b><br>Category: " + result.category_name + "<br>Instructor: " + result.instructor_info.username + "<br>Description: " + result.description + "<br>Number of Modules: " + result.module_count + "</p>");
                $("#courseDetails").append("<button type='button' rel='" + result.courseCode + "'>Enroll</button>");
            }
        });
    });

    //load all course enrollments
    function loadEnrollment() {
        $.ajax({
            url: 'http://localhost:8000/staff/' + getCookie('staffId') + '/enrolled',
            type: 'GET',
            dataType: 'json',
            success(result,status,xhr){
                $("#enrollmentDetails").hide();
                $("#enrollmentList").empty();
                $("#enrollmentList").show();
                $.each(result.course_list, function(index, value) {
                    $("#enrollmentList").append("<p><a href='#' rel='" + value.courseCode + "'>" + value.courseCode + ": " + value.title + "</a><br> Progress: " + value.progress + " modules completed</p>");                    
                });
            }
        });
    }

    //view details of an enrolled course
    $('#enrollmentList').on('click', 'a', function() {
        $.ajax({
            url: 'http://localhost:8000/courses/' + $(this).attr('rel'),
            type: 'GET',
            dataType: 'json',
            success(result,status,xhr) {
                $("#enrollmentList").hide();
                $("#enrollmentDetails").empty();
                $("#enrollmentDetails").show();
                $("#enrollmentDetails").append("<h3>Course Info</h3>");
                $("#enrollmentDetails").append("<p><b>" + result.courseCode + ": " + result.title + "</b><br>Category: " + result.category_name + "<br>Instructor: " + result.instructor_info.username + "<br>Description: " + result.description + "<br>Number of Modules: " + result.module_count + "</p>");
                $("#enrollmentDetails").append("<hr><h3>Modules & Components</h3>");
                $.each(result.modules, function(index, value) {
                    $('#enrollmentDetails').append("<p><b>Module " + value.sequenceNumber + " : " + value.moduleTitle + "</b><br>Number of Component: " + value.component_count + "</p>");
                    $.each(value.components, function(index, data) {
                        $('#enrollmentDetails').append("<p>Component " + data.order + " : " + data.contentTitle + "<br>" + data.content + "</p>");
                    });
                });
            }
        });
    });

    //enroll in a course
    $('#courseDetails').on('click', 'button', function () {
        cf = confirm('Please confirm that you would like to enroll in this course.');
        if (cf) {
            $.ajax({
                url: "http://localhost:8000/courses/" + $(this).attr('rel') + "/enroll",
                type: 'POST',
                data: JSON.stringify({staff_id : getCookie('staffId')}),
                dataType: 'json',
                beforeSend(xhr){
                    xhr.setRequestHeader("Content-Type","application/x-www-urlencoded");
                },
                success(result,status,xhr) {
                    if (result.hasOwnProperty('failure'))
                        alert(result.message);
                    else {
                        window.location.reload();
                    }
                }
            });
        }
    });

</script>

{% endblock %}