<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload test</title>

    <input id='uploadedfile' type="file" placeholder="Upload file">
    <button onclick="uploadFunc()"> Upload </button>
    <button onclick="deleteFunc()"> Delete </button>
    <a id="link" href="#"> The uploaded file </a>
    <script>
        function uploadFunc(){
            console.log("Calling upload")
            var xhr = new XMLHttpRequest();
            var ele = document.getElementById('uploadedfile');
            var form_data = new FormData();
            form_data.append('upload', ele.files[0]);
            form_data.append('extra_info', 'whaddup');
            console.log(form_data.get('upload'));
            xhr.open("POST", "uploadfiletest", true);
            xhr.onreadystatechange = function(){
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var data = JSON.parse(xhr.responseText);
                    console.log(data);
                    console.log(data['file_path']);
                    var anchor = document.getElementById("link");
                    anchor.setAttribute("href", data['file_path']);
                    anchor.textContent = data['filename'];
                }
            }
            xhr.send(form_data);
        }

        function deleteFunc() {
            var xhr = new XMLHttpRequest();
            var data = {"name": "trolltunga.jpg"};
            xhr.open("POST", "deletefiletest");
            xhr.send(data);
        }
    </script>
</head>
<body>

</body>
</html>